---
import CenterLayout from '@layouts/CenterLayout.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title='forbidden'>
    <CenterLayout va_center>
        <p class="instructions">
            El acceso a este administrador esta <code>Restringido</code> por favor inicia sesion.<br
            />
            <a href="./admin">
                <strong>Iniciar sesion</strong>
            </a>
        </p>
    </CenterLayout>
</Layout>

<style lang="scss">
    .instructions {
		margin-bottom: 2rem;
        padding: 1.5rem;
		border-radius: 8px;
		border: 1px solid rgba(var(--accent-error), 0.77);
		background: linear-gradient(
			rgba(var(--accent-error), 0.44),
			rgba(var(--accent-error), 0.66)
		);
	
        code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	    }

        strong {
            color: rgb(var(--accent-light));
        }
    }
</style>