---
/* export const prerender = true; */

import CenterLayout from "@layouts/CenterLayout.astro";
import Layout from "@layouts/Layout.astro";

const isAuthenticated = Astro.cookies.get("auth")?.json() || false;

if (!isAuthenticated) { 
    return Astro.redirect("/forbidden");
}
---

<Layout title="Dashboard">
    <section>
        <aside>as</aside>
        <section>b</section>
    </section>
</Layout>

<style lang="scss">
    section {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: "aside aside main main main main main main main";

        aside {
            grid-area: aside;
        }
        section {
            grid-area: main;
            height: 100vh;
            background-color: #f5f5f595;
        }
    }
</style>
